{% extends 'base.html' %}
{% load static %}

{% block navbar_actions %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="btn btn-link nav-link" href="{% url 'funcionario_consultar' %}">Voltar para Consulta</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h2>Atualizar Funcionário: {{ funcionario.nome }}</h2>
    <form action="{% url 'atualizar_funcionario' funcionario.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Atualizar Funcionário</button>
    </form>
</div>
{% endblock %}