body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 1rem;
}

.btn {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.navbar {
  margin-bottom: 2rem;
}



